{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
      #vj {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }
    </style>

</head>
<body>
    <!-- You may change the dimensions of this canvas -->
    <canvas id="myCanvas" width="750px" height="750px" border="1px"></canvas>
    <!-- img id = "vj" src="{% static '/images/a_3d_vj.jpg' %}" -->
</body>
<script>
    
    // setting up the canvas and one paper tool

    var canvas = document.getElementById('myCanvas');
    paper.setup(canvas);
    var paths =[];
    
    var color = getRandomColor();
    var tool = new paper.Tool();
    path = new paper.Path();
    path.strokeColor = color;
    var clicks = 0;
    var points = [];
  
  tool.onMouseDown = function(event) {
    // Create a new path every time the mouse is clicked
    if(clicks == 0){
      path = new paper.Path();
      path.strokeColor = color;
      path.add(event.point);
      clicks++;
      points.push(event.point);
    }else{
      path.add(event.point);
      points.push(event.point);
      let pts = {
        type: "draw",
        x1: points[0].x,
        y1: points[0].y,
        x2: points[1].x,
        y2: points[1].y,
        clientID: clientID
      }
      paths.push(path);
//       socket.send(JSON.stringify(pts));   no send for ex2
      clicks = 0;
      points = [];
    }

}
 
  function getRandomColor() {
  var letters = '0123456789ABCDEF';
  var color = '#';
  for (var i = 0; i < 6; i++) {
    color += letters[Math.floor(Math.random() * 16)];
  }
  return color;
}
  

       window.addEventListener('devicemotion', function(event) {
       setTimeout( 3*1000);
       console.log("asdsad");

       var r = event.rotationRate.alpha;
       if(r>100){
               while(paths.length>0) {
               paths.pop().remove();
         }
        }        
        });
  
      window.addEventListener('devicemotion', function(event) {
          console.log(event.acceleration.x + ' m/s2');
        console.log(event);
        });
  
  function handleOrientation(event) {
  var x = event.beta;  // In degree in the range [-180,180]
  var y = event.gamma; // In degree in the range [-90,90]

    if(y>40)
      color = getRandomColor();
//     while(paths.length>0){
//       paths.pop().remove();
//     }
  };
  window.addEventListener('deviceorientation', handleOrientation);

       
  
  
    // getting the URL (you may want to use for Exercise 3)
    var url = window.location.href;
    console.log(url);
    var smallUrl = "http://p4-kenchiu100-kenchiu515417.codeanyapp.com:8000/draw/?size=small";
    var largeUrl = "http://p4-kenchiu100-kenchiu515417.codeanyapp.com:8000/draw/?size=large";

  
    // create a new websocket connecting to the server
    var socket = new WebSocket('ws://p4-kenchiu100-kenchiu515417.codeanyapp.com:8765');
    const clientID = color;
      socket.onopen = function (event) {
     
        var msg = {
          type: "message",
          id:   clientID
        };
      socket.send(JSON.stringify(msg));
    };
  


    // triggered when receiving a message from the server
    socket.onmessage = function(receivedMessage) {
      var msg = JSON.parse(receivedMessage.data);
      if (msg.type == "message") {
       console.log(msg.id);
      } else if (msg.type == "draw" && url == largeUrl) {
        console.log(msg.clientID);

        pathA = new paper.Path();     
        pathA.add(new paper.Point(msg.x1, msg.y1));
        pathA.add(new paper.Point(msg.x2, msg.y2));

        pathA.strokeColor = msg.clientID; //clientID is a code for a random color
        console.log(pathA);

      }
    };

    // use when sending a message to the server
    // to be broadcasted to all clients
//     socket.onopen = function (event) {
//     socket.send(canvas);
//   }
    // notify console if socket closes unexpectedly
    socket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    
  
   // custom interaction starts here
   /*
    var url = window.location.href;
    var smallUrl = "http://p4-kenchiu100-kenchiu515417.codeanyapp.com:8000/draw/?size=small";
    var largeUrl = "http://p4-kenchiu100-kenchiu515417.codeanyapp.com:8000/draw/?size=large";
    var socket = new WebSocket('ws://p4-kenchiu100-kenchiu515417.codeanyapp.com:8765');
      socket.onopen = function (event) {
     
        var msg = {
          type: "message",
        };
      socket.send(JSON.stringify(msg));
    };
  

    $("#vj").click(function() {
      console.log("clicked");
      let msg = {
        type: "visual",
      }
      socket.send(JSON.stringify(msg));
    });
    
     var body = document.getElementsByTagName('body')[0];

    socket.onmessage = function(receivedMessage) {
      var msg = JSON.parse(receivedMessage.data);
      if (msg.type == "visual" && url == largeUrl) {
      console.log(msg.id);
      $("#vj").hide();
      $("body").css("background-image", "url(/static/images/maxresdefault.jpg)");
      $("body").css("display", "block");
      $("body").css("margin-left", "auto");
      $("body").css("margin-right", "auto");
      $("body").css("width", "50%");
      console.log("visual activated");
      */
      }
    };
  
  
</script>
</html>